<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="pthport" connectionString="Server=localhost\sqldev01;Database=pthport;User Id=Pthuser; Password=Pa$$w0rd;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
</configuration>
